version: '3'

services:

    php:
        ports:
            - '8000:8000'

    mailer:
        ports:
            - '1025:1025'

    mongodb:
        ports:
            - '8081:8081'

    database:
        ports:
            - '3306:3306'
