version: '3'

services:

    mailer:
        ports:
            - '8025:8025'

    database:
        ports:
            - '3306:3306'

    caddy:
        ports:
            - "8000:443"
            - "8000:443/udp"
