{
	# Debug mode: uncomment if you need it in the Caddy container
	debug

	# Allows making calls with no TLS
	auto_https disable_redirects
}

localhost {
	log

	root * /srv/public
    php_fastcgi unix//var/run/php/php-fpm.sock
    file_server
}
