{% trans_default_domain 'corahn_rin' %}

<div class="main row" id="character-details-notable-facts">
    <div class="col s12">
        <h2 class="character-details-subtitle">{{ 'character.notable_facts'|trans }}</h2>

        <p class="notable-facts">{{ character.facts }}</p>
    </div>
</div>
