{% extends 'easy_admin/layout.html.twig' %}

{% block body_class 'page-blank' %}

{% block content %}
    <h1>
        <img style="max-width: 70px;" src="{{ asset('build/agate/logo_agate_studio_stone.png') }}" alt="Logo">
        Studio Agate
    </h1>

    {# TODO: Add a few insights about the project (characters, subscriptions, etc.) #}
{% endblock %}
