{% extends "user/layout.html.twig" %}

{% trans_default_domain 'user' %}

{% block content_for_layout %}

    {{ form_start(form, { 'action': path('user_change_password'), 'attr': { 'class': 'user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
    {{ form_end(form) }}

{% endblock content_for_layout %}
