footer#page-footer {
    h2 {
        font-size: 1.75em;
    }
    h2, #footer-about {
        margin-top: 0.89rem;
        margin-bottom: 0.89rem;
    }
}

.footer-copyright {
    height: auto;
    line-height: inherit;
    font-size: 0.8em;
}
